<hr class="separador">
<footer class="Footer-_f">
  <div class="divFooter">
    <div class="">
      <img src="" alt="">
      <span><p>2017</p></span>
      <div class="">
        <span><p>Contacto</p></span>
        <span><p>Preguntas frecuentes</p></span>
        <span><p>Acerca de nosotros</p></span>
      </div>
      <div class="">
        <span><p>Info@cierralo.com</p></span>
        <span><p>(55) 4567 4323</p></span>
      </div>
      <p>Conviértete en vendedor</p>
      <button type="button" name="button">Regístrate</button>
    </div>
    <hr class="separador-2">
  </div>
</footer>
