<nav>
  <div class="menu">
    <div class="Rectangle-text">
      <span class="Rectangle-text-2">Vendedores</span>
      <span class="Rectangle-text-2">Compradores</span>
      <span class="Rectangle-text-2">Regístrate</span>
      <span class="Rectangle-text-2">Inicia esión</span>
      <button class="btnContac" type="button" name="button">Contacto</button>
    </div>
  </div>
</nav>
<div class="">
  <img  class="edificios" src="assets/img/IMG_20170220_121229490.jpg" alt="">
  <div class="TextImg">
    <p style="font-weight: bold; font-size: 250%; color: white; margin:0px;">Vende o compra propiedades</p>
    <p style="font-size: 200%; color: white; margin:0px;">¡Sin comisión de corredores!</p>
  </div>
</div>
